<html>
  <body>

    <p> <%= @candidate.blurb  %> </p>
    <table border="true">
      <tr>
        <td>Job</td>
        <td><%=@candidate.job%></td>
      </tr>
      <tr>
        <td>Company</td>
        <td><%=@candidate.company%></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%=@candidate.email%></td>
      </tr>
      <tr>
        <td>Ideal Role</td>
        <td><%=@candidate.ideal_role%></td>
      </tr>
      <tr>
        <td>Website</td>
        <td><%=@candidate.website%></td>
      </tr>
      <tr>
        <td>Resume</td>
        <td><%=@candidate.resume%></td>
      </tr>
    </table>
  </body>
</html>


